[submodule "inih"]
	path = inih
	url = https://github.com/benhoyt/inih.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/sqlite/sqlite.git
	ignore = untracked
[submodule "FBInk"]
	path = FBInk
	url = https://github.com/NiLuJe/FBInk.git
	fetchRecurseSubmodules = true

